<p>Pending Request from: <%= request.receiver.username %></p>
<%= button_to 'Accept', accept_request_home_path(request), method: :patch %>
<%= button_to 'Reject', reject_request_home_path(request), method: :delete %>
