 <%= link_to 'Add Public Photo', new_photo_path %>
<h1>List of Photos</h1>
  <ul>
    <% @public_photos.each do |photo| %>
      <li>
        <p><%= photo.caption %></p>
      </li>
    <% end %>
  </ul>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Caption</th>
      <th scope="col">Owner</th>
      <th scope="col">Posted</th>
      <th scope="col">Likes</th>
      <th scope="col">      </th>
    </tr>
  </thead>
  <tbody>
    <% @public_photos.each do |photo| %>
      <tr>
        <td><%= image_tag photo.image, style: "width: 200px; display: block" %></td>
        <td><%= photo.caption %></td>
        <td>current_user.username</td>
        <td>hi</td>
      </tr>
    <% end %>
  </tbody>
</table>
